<%= form_for object do |f| %>
  <div class="form-group">
    <%= f.label :description %></br>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :date %></br>
    <%= f.date_field :date %>
  </div>
  <div class="form-group">
    <%= f.submit(:class => "button") %>
  </div>
<% end %>
