<div class="task-form-row">
  <%= form_for object do |f| %>
    <div class="date form-group">
      <%= f.label :date %></br>
      <%= f.date_field :date %>
    </div>
    <div class="description form-group">
      <%= f.label :description %></br>
      <%= f.text_field :description %>
    </div>
    <div class="days-away form-group">
      <%= f.label :number_of_days_from_now %></br>
      <input name="days_away" class="resized-textbox">
    </div>
    <div class="future-description form-group">
      <%= f.label :description_of_future_task %></br>
      <input name="future_description" class="resized-textbox">
    </div>
    <div class="buttons form-group">
      <%= link_to "add followup task", new_garden_task_path, class: "followup-button button small" %><br />
      <%= f.submit(:class => "submit-button button") %>
    </div>
  <% end %>
</div>
