<div class="task-form-row">
  <%= form_for object do |f| %>
    <div class="date form-group">
      <%= f.label :date %></br>
      <%= f.date_field :date %>
    </div>
    <div class="description form-group">
      <%= f.label :description %></br>
      <%= f.text_field :description %>
    </div>
    <div class="submit-button form-group">
      <%= f.submit(:class => "button") %>
    </div>
  <% end %>
</div>
