<div id="future-mask"></div>

<div class="header-offset">

	<% @future_tasks.each do | task | %>
		<div class="garden-task-row future">
			<p class="date"><%= task.date %></p>
			<p class="description"><%= task.description %></p>
		</div>
	<% end %>

	<% @today_tasks.each do | task | %>
		<div class="garden-task-row today">
			<p class="date"><strong>Today</strong></p>
			<p class="description"><%= task.description %></p>
		</div>
	<% end %>

	<% @past_tasks.each do | task | %>
		<div class="garden-task-row past">
			<p class="date"><%= task.date %></p>
			<p class="description"><%= task.description %></p>
		</div>
	<% end %>
</div>
