<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "GardenTracker" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>

  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "GardenTracker", garden_tasks_path %></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left active">
            <form action="/garden_tasks?query" method="get">
              <input id="search" name="query" type="text" placeholder="search">
              <button class="tiny search-button">Search</button>
            </form>
          </ul>

          <ul class="center flash">
            <li class="notice-color"><%= flash[:notice] %></li>
            <li class="alert-color"><%= flash[:alert] %></li>
          </ul>

          <!-- Right Nav Section -->
          <ul class="right active">
            <li><%= link_to "Add task", new_garden_task_path, class: "add-task button" %></li>
          </ul>
        </section>
      </nav>
    </div>

    <%= yield %>
    <%= javascript_include_tag "application" %>

  </body>
</html>
